<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Shop page</title>
    <link
      rel="stylesheet"
      href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/add-product">Add product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Products</h1>
      <p style="color: red">List of all products...</p>
      <ul></ul>
    </main>
  </body>
</html>
